body{
    margin:0;
    padding:0;
    background-color: lightgray;
}

header, main{
    margin: 30px 160px;
}
header, aside, section{
    background-color: #A4A3FF; 
}

header{
    height: 80px;
}
main{
    display:flex;
    flex-wrap: nowrap;
}

aside, section{
    height: 400px;
}

aside{
    width: 40%;
}
section{
    width: 60%;
}

#container1{
    margin-right: 5px;
}
#container2{
    margin-left:5px;
}
